<table>
    <head>
        <th>
            @Html.DisplayNameFor{model.Titulo}

        </th>
        <th>
            @Html.DisplayNameFor{model => model.Descricao}
        </th>
    </head>
    sforreach {var item}
</table>